ul{
    list-style: none;
    text-align: center;
    height: 60px;
    margin-left: -40px;
}

.n li{
    display: inline-block;

}

.n a{
    font-size: medium;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 25px;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
    border-radius:50px;
    position:relative;
    background: linear-gradient(45deg, blue 0%,darkmagenta 100%);

}

.n a:hover{
    color:black;
    background-color: black;
    height: 20px;
    border-radius: 20px;
    z-index:1;
    border-radius:50px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #05abe0;
    background: linear-gradient(45deg, lightblue 0%,blue 100%);

}
.body1{
    margin:0px;
    margin-top: 0%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,61,148,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo{
    float: left;
    margin-left: 20px;
    margin-top: -20px;
}

.n{
    margin-left: 625px;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: rgb(2,0,36);
    margin-right: 10%;
    margin-top: 10%;
    width: 100%;
}


fieldset{
    border: 2px solid;
    border-radius: 10px;
}

p{
    margin: 10px;
    font-size: medium;
    text-align: center;
}

.text2{
    text-align: center;
    margin-top: auto;
}

.arcane
{

    background-image: linear-gradient(-225deg,#231557 0%,#44107a 29%, #ff1361 67%,#fff800 100%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
    margin-left: 2%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.temp{
    float: left;
    margin-left: 550px;
}


.container {
    max-width: 150px;
    padding: 2px;
    position: relative;
    z-index:1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
    margin-right:25px;
    filter: brightness(120%);
    border-radius: 20px;
  }
  
  .container:before {
    z-index:-1;
    position: absolute;
    content:"";
    width:130px;
    height:230px;
    left:10px;
    top:0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
    filter: blur(20px);
    
  }
  
.gradient {
    background-color: #0b090a;
    padding: 30px;
    color: white; 
    font-size: 35px;
    font-family: arial;
    text-align: center;
    border-radius: 20px;
  }
h3{
    text-align: center;
}

h4{
    text-align: center;
    font-size: 30px;
}

.container {
    display: inline-block;
    max-width: 350px;
    padding: 2px;
    position: relative;
    z-index:1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
    margin-top: 20px;
    margin-left:15.5%;
    filter: brightness(120%);
    height: auto;
 }
.container:before {
    z-index:-1;
    position: absolute;
    content:"";
    width:230px;
    height:230px;
    left:10px;
    top:0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
    filter: blur(20px);
    
}

.container:hover{
    filter: brightness(200%);
}

h1{
    font-size: 60px;
    font-family:monospace;
    align-items: center;
}

section{
    border:2px dotted burlywood;
    display:inline-block;
    margin:10px;
    padding:10px;
    border-radius:5px;
}
.left{
    background-color:green;
    font-size:15px;
    position:relative;
    animation-name: vib1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.right{
    background-color: green;
    font-size:15px;
    position:relative;
    animation-name: vib2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes vib1 {
    0%{
        left:0px;
    }
    100%{
            left:24px;
            background-color: yellowgreen;
    }
    
}
@keyframes vib2{
    0%{
        top:0px;
    }

    100%{
        top:20px;
        background-color:yellowgreen;
    }
}
footer{
    clear:both
}
a{
    color:cornflowerblue
}
.kkl{
    animation-name: vib3;
    animation-duration: 0.3s;
    position:relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 475px;
    background-color: #ff1361;
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
}
@keyframes vib3{
    100%{
        top:5px;
    }
}
.llk{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    background: linear-gradient(45deg, red 0%,yellow 100%);
    border: 1px red solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 28%;
}

.sketchy {
    color: #0b090a;
    padding: 50px 60px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.vs{
    float: left;
    margin-right: 10px;
}

.r{
    margin-left: 120px;
}

.r1{
    margin-left: 450px;
}

.article {
    float: left;
    width: 60%;
    height: 500px;
  }
  .div1 {
    width: 60;
    float: left;
    height: 300px;
    margin: 20px;
    margin-left: 200px;
  }
  
  .sec2 {
    width: 40%;
    height: 300px;
    background-color: black;
    float: left;
    margin: 20px;
    padding-left: 30px;
  }
  
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-style: italic;
    color: white;
  }
  p {
    color: white;
  }
  input,
  textarea {
    background-color: beige;
    color: blue;
  }
  input::placeholder,
  textarea::placeholder {
    color: blue;
  }

  body {
    margin: 0px;
    margin-top: 0%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(22, 61, 148, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
    text-align: center;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 700px;
    background-color: darkmagenta;
    border: 3px red solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 28%;
  }
  
  .sketchy1 {
    color: #0b090a;
    padding: 30px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .sketchy1::before {
    content: "";
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  .r2 {
    margin: 100px;
  }

.title1{
    text-align: center;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 400px;
    background-color: darkmagenta;
    border: 3px blue solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 35%;
  }

h2{
    text-align: center;
}

fieldset{
    margin-top: 40px;
    width: 300px;

}

.animated-border-box, .animated-border-box-glow{
    max-height: 400px;
    max-width: 450px;
    height: 100%;
    width:50%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
    /* Border Radius */
    border-radius: 10px;
    text-align:center;
    color:white;
    margin-left: 33%;
  }
  
  .animated-border-box-glow{
    overflow: hidden;
    /* Glow Blur */
    filter: blur(20px);
  }
  
  .animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 25%);
      animation: rotate 4s linear infinite;
  }
  
  .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background: #292a2e;
      border-radius: 7px;
  }
  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }

.bodyabout{
    margin:0px;
    margin-top: 0%;
    background: rgb(58,54,54);
    background: linear-gradient(90deg, rgba(58,54,54,1) 0%, rgba(26,25,48,1) 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.abtimg{
    border-radius: 100%;
}

.space{
    height: 450px;
    margin-left: 20%;
}

.sketchy2 {
    color: #0b090a;
    padding: 20px;
    width: 400px;
    height: 300px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 20px;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .sketchy2::before {
    content: "";
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  
  .r2 {
    margin-left: 22%;
    margin-top: 35px;
  }

.div1 {
    width: 70;
    float: left;
    height: 300px;
    padding: 20px;
    border: 5px;
    border-style: solid solid solid;
    margin-top: 5%;
    border-radius: 50px;
}
  
.sec2 {
    width: 40%;
    height: 300px;
    background-color: black;
    float: left;
    padding: 20px;
    border: 5px;
    border-style: solid solid solid;
    border-radius: 50px;
    padding-left: 30px;
    margin-top: 5%;
}
  
h1{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-style: italic;
    color: white;
}
p{
    color: white;
}
input,
textarea {
    background-color: beige;
    color: black;
    border-radius: 15px;
  }
  input::placeholder,
  textarea::placeholder {
    color: black;
    opacity: 0.5;
  }
  .row {
    font-size: 1rem;
  }
